@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&display=swap");
body{
    font-family: 'Mitr', sans-serif;
    background-color: #ffffff;
}
@media(min-width:300px){
    body{
        width: 100%;
        padding:0%;
    }
    .material-symbols-outlined{
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
    .wrapper{
        width: 400px;
        background: #F2F2F2;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-color: #ABD9D8;
        margin: 5%;
        
    }
    .wrapper header{
        display: flex;
        align-items: center;
        padding: 2%;
        justify-content: space-between;
        border-radius: 20px 20px 0px 0px ;
        align-items: center;
        color: #263A50;
        padding: 15px 0px;

    }
    header .current-date{
        font-size: 18px;
        font-weight: 400;
        margin: 0 20px;
        
     
    }
    header .icons span{
        height: 38px;
        width: 38px;
        line-height: 38px;
        cursor: pointer;
        text-align: center;
        /* margin: 0px 40px; */
        font-size: 1.9rem;
        padding-top: -5px;
 
    }
    header .icons{
        display: flex;
        align-items: center;
    }
    /* header .icons span:hover{
        background-color: #ffffff;
        border-radius: 50%;
        
    } */
    header .icons span:last-child{
        margin-right: -10px;
        
    }
    .calendar{
       width: 100%;

      
    
    }    
    .calendar ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding: 0px 10px;

        
    
    }
    .calendar .weeks li{
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        color: #263A50;
        
    }
    .calendar .days li{
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        margin-top: 25px;
        z-index: 1;

    }
    .calendar .days{
       padding-bottom: 40px;
       text-align: center;
       background-color: #F2F2F2;
       border-radius: 0px 0px 20px 20px;
       margin-bottom: 0px;
    }
    .calendar ul li{
        position: relative;
        width: calc(100% /7);
        /* background-color: aquamarine; */
        
    }
    .calendar .days li::before{
        position: absolute;
        content: "";
        height: 38px;
        width: 38px;
        left: 50%;
        top: 50%;
        z-index: -1;
        border-radius: 50%;
        transform:translate(-50%,-50%);
       
    }

    .days li:hover::before{
        background-color: #54B2B0;
        color: #ffffff;
    }
    .days li.active::before{
        /* background-color: #54B2B0; */
        border: 1.5px solid #54B2B0;

    }
    .days li.inactive{
        pointer-events: none;
        color: #A1A1A1;
    }
    .days li.active{
        color: #54B2B0;
    }

}
@media(min-width:600px){

}
@media(min-width:900px){
   
}
@media(min-width:1200px){
    
}

