@media(min-width:300px){
    body{
        width: 100%;
        padding:0%;
        
    }
    /* h1{
        font-size: 28px;
        font-weight: 500;
    }
    h2{
        font-size: 20px;
        font-weight: medium;
    }
    h3{
        font-size: 18px;
        font-weight: medium;
    }
    h4{
        font-size: 18px;
        font-weight: 400;
    } */
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.17em;
    }
    h4{
        font-size: 1.00em;
    }
    h5{
        font-size: 0.83em;
    }
    h6{
        font-size: 0.67em;
    }
    .textBody-big{
        font-size: 16px;
        font-weight: light;
    }
    .textBody-large{
        font-size: 14px;
        font-weight: 200;
    }
    .textBody-medium{
        font-size: 14px;
        font-weight: 300;
    }
    .textBody-small{
        font-size: 12px;
        font-weight: 300;
    }
    .textBody-huge{
        font-size: 18px;
        font-weight: 400;
    }
    .textButton-Normal{
        font-size: 18px;
        font-weight: 500;
    }
    .colorPrimary-50{
        color: #eef2f7;
    }
    .colorPrimary-100{
        color: #dce5ef;
    }
    .colorPrimary-200{
        color: #eef2f7;
    }
    .colorPrimary-800{
        color: #263A50;
    } 
    .colorNeutralBlue-50{
        color: #FBFFFF;
    }
    .colorNeutralBlack-50{
        color: #F2F2F2;
    }
    .form-control::placeholder {
        font-size: 16px;
        font-weight: 300;
        color: #BABABA; 
    }
    .form-control{
        border: 1px solid #0a0f157a;
        height: 40px;
        margin-bottom: 10px;
        color: #263A50;
    }
    .center{
        width: 100%;
        text-align: center;
    }
    hr{
        border: 3px solid #1b1b1b;
        border-radius: 5px;
    }
    .btn-secondary{
        height: 43px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #444444;
        color: #444444;
        background-color: #F4FAFA;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .btn-primary{
        height: 43px;
        width: 100%;
        border-radius: 8px;
        border: 0px solid #ffffff;
        color: #F2F2F2;
        background-color: #263A50;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    select{
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #0a0f157a;
        font-size: 16px;
        font-weight: 300;
        color: #BABABA; 
        padding: 0px 10px;
        margin-bottom: 10px;
        background-color: #ffffff;
    }
    select.selected{
        font-size: 18px;
        font-weight: 400;
        color: #263A50; 
    }
    option{
        color: #263A50;
    }
    select.selected option:checked{
        background-color: #ABD9D8;
        color: #263A50;
    }
    input[disabled]{
        background-color: #BABABA;
    }
    .logo{
        width: 100px;
        height: 65px;
        margin-bottom: 10px;
    }
    /* .logo{
        width: 130px;
        height: 75px;
        margin-bottom: 10px;
    } */
    .admin-textBody-big{
        font-size: 20px;
        font-weight: 300;
    }
    .admin-textBody-large{
        font-size: 20px;
        font-weight: 400;
    }
    .admin-textBody-medium{
        font-size: 16px;
        font-weight: 400;
    }
    .admin-textBody-small{
        font-size: 14px;
        font-weight: 300;
    }
    .admin-textBody-huge{
        font-size: 18px;
        font-weight: 400;
    }
    .admin-textButton-Normal{
        font-size: 18px;
        font-weight: 500;
    }

}
@media(min-width:600px){
   
    
}
@media(min-width:900px){
   
   
}
@media(min-width:1200px){
    /* h1{
        font-size:40px;
        font-weight: bold;
    }
    h2{
        font-size: 30px;
        font-weight: 500;
    }
    h3{
        font-size: 28px;
        font-weight: 500;
    }
    h4{
        font-size: 22px;
        font-weight: 400;
    }
    .textBody-big{
        font-size: 20px;
        font-weight: 300;
    }
    .textBody-large{
        font-size: 20px;
        font-weight: 400;
    }
    .textBody-medium{
        font-size: 16px;
        font-weight: 400;
    }
    .textBody-small{
        font-size: 14px;
        font-weight: 300;
    }
    .textBody-huge{
        font-size: 18px;
        font-weight: 400;
    }
    .textButton-Normal{
        font-size: 18px;
        font-weight: 500;
    } */
   
}
