@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&display=swap");

.UserChooseClinic{
  border-left: 1px solid #141E2910;
  border-right: 1px solid #141E2910;
}
@media(min-width:300px){
  .UserChooseClinic-header {
    background: linear-gradient(to right, #008080, #008080) no-repeat,      linear-gradient(to left, #ffffff 50%, transparent 50%) right,      linear-gradient(to right, #ffffff 50%, transparent 50%) left;
    background-size: 100% 100%, 5px 100%, 5px 100%;
    border-radius: 0px 0px var(--Radius-Card, 20px) var(--Radius-Card, 20px);
    padding: 8px;
    padding-left: 40px;
    color: #FFF;
}
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  .menu-icons:checked + label,
  .menu-icons:not(:checked) + label {
    position: relative;
    top: -75px;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
    transform: translate(1350%, 0%);
  }
  .menu-icons:checked + label:before,
  .menu-icons:not(:checked) + label:before {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    border-top: 2px solid #ececee;
    border-bottom: 2px solid #ececee;
    transition: border-width 100ms 100ms ease,
      top 100ms 100ms cubic-bezier(0.23, 1, 0.32, 1),
      height 100ms 100ms cubic-bezier(0.23, 1, 0.32, 1),
      background-color 100ms ease, transform 100ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icons:checked + label:after,
  .menu-icons:not(:checked) + label:after {
    position: absolute;
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #ececee;
    margin-top: -1px;
    transition: width 100ms 100ms ease, right 100ms 100ms ease,
      margin-top 100ms ease, transform 100ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icons:checked + label:before {
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #ececee;
    border-width: 0;
    transition: border-width 100ms ease,
      top 100ms cubic-bezier(0.23, 1, 0.32, 1),
      height 100ms cubic-bezier(0.23, 1, 0.32, 1),
      background-color 100ms ease,
      transform 100ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icons:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms ease,
    transform 100ms cubic-bezier(0.23, 1, 0.32, 1);
}

  .navs {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 33px;
    right: 50px;
    width: 505px !important;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
  }
  .menu-icons:checked ~ .navs {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
  }
  .navs ul {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    list-style: none;
    top: 8%;
    transform: translate(-50%, -50%);
}

  .navs ul li {
    background-color: #ffffff;
    position: relative;
    top: 600px;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    left: 50%;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  .navs ul li a {
    text-transform: uppercase;
    line-height: 2.5;
    display: inline-block;
    position: relative;
    color: #141E29;
    margin-left: 20px;
  }
  .navs ul li a b {
    color: #344161;
  }
  .navs ul li a:hover {
    color: #ffeba7;
  }
  .navs ul li a:hover:after {
    width: 100%;
  }
  .menu-icons:checked ~ .navs ul li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

}
