@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&display=swap");
.UserAllAppointComponent {
    position: relative;
    font-family: 'Mitr', sans-serif;
    background-color: #ffffff;
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    gap: 62px;
    flex-shrink: 0;
    align-self: stretch;
    width: 100%;
}

.mini-card-icon{
    width: 24px;
    height: 24px;
}

.head-txt-List{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.head-txt-All{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AppointList-header{
    background: linear-gradient(to right, #008080, #008080) no-repeat,      linear-gradient(to left, #ffffff 50%, transparent 50%) right,      linear-gradient(to right, #ffffff 50%, transparent 50%) left;
    background-size: 100% 100%, 5px 100%, 5px 100%;
    border-radius: 0px 0px var(--Radius-Card, 20px) var(--Radius-Card, 20px);
    padding: 8px;
    padding-left: 40px;
    color: #FFF;
}

.search-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.outer-card-ref{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.outer-card-ref p{
    text-decoration: none;
    text-decoration-style: none;
}

.AppointList-body-search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.inner-card-ref{
    margin: 10px;
    padding: 20px;
    border-radius: var(--Radius-Card, 20px);
    background: var(--Neutral-blue-50, #FBFFFF);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    line-height: 200%;
    color: #263A50;
}

.inner-card-ref-items-ClinicName{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inner-card-ref-items-Calendar{
    display: flex;
}

.inner-card-ref-items-Calendar-txt{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.inner-card-ref-items-TimeClick{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inner-card-ref-items-TimeClick-Time{
    display: flex;
}

.inner-card-ref-items-TimeClick-Time-txt{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.inner-card-ref-items-TimeClick-Click-txt{
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

.text-status-appointment{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}



.AppointList-body-card-fini{
    margin: 10px;
    padding: 20px;
    border-radius: var(--Radius-Card, 20px);
    background: var(--Neutral-blue-50, #FBFFFF);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    line-height: 200%;
    color: #263A50;
}

.AppointList-body-card-fini-ref-clinic{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50%;
}

.AppointList-body-card-fini-ref-clinic-Name{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AppointList-body-card-fini-ref-clinic-status {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    width: 110px;
    background-color: #0CB686;
    color: #FBFFFF;
}

.AppointList-body-card-fini-ref-Date{
    display: flex;
}

.AppointList-body-card-fini-ref-Date-txt{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.AppointList-body-card-fini-ref-Time{
    display: flex;
}

.AppointList-body-card-fini-ref-Time-txt{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.AppointList-footer-btn{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.return-btn{
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--Radius-Tag, 12px);
    background: var(--Primary-800, #263A50);
    width: 50%;
    height: 50px;
    margin-top: 15px;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 505px) {
    .ListAppointmentUser{
        width: 100% !important;
        padding: 0 !important;
        padding-left: 0;
        margin: 0;
    }
    #id{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}